body{
    font-family: "Manrope", sans-serif;
     /* font-family: "Montagu Slab", serif; */
     background-color: rgb(0, 0, 0);
}
#heading{
    
     font-family: "Montagu Slab", serif;
     #050505
     #0E0E10

     bg-gradient-to-tr from-[#050505] to-[#0E0E10]
}
